body {
    background: rgb(235, 234, 234);
}
.title{
    font-size: 70px;
    font-weight: 100;
    color: rgb(170, 170, 170);
}

.todo-list {
    padding-right: 0;
    background: #fff;
    box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.15),
        0 10px 0 -5px #eee,
        0 10px 1px -4px rgba(0, 0, 0, 0.15),
        0 20px 0 -10px #eee,
        0 20px 1px -9px rgba(0, 0, 0, 0.15);
}
.list-item{
    height: 50px;
    padding-top: 12px;
    overflow: hidden;
}

.input-field {
    border: none;
    padding: 0;
    width: 90%;
    height: 40px;

}

.input-field:focus {
    outline: none;
}

.delete-marker {
    position: absolute;
    left: 95%;
    top: 34%;
    justify-items: center;
    visibility: visible;
    color: lightgray;
}

.task-counter{
    color: rgb(138, 138, 138);
    font-weight: 100;
}